body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
  background: #c8dbeb;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  padding: 10px;
}

header {
  text-align: center;
  background-color: #7c90a0;
  color: #fdfffc;
  border-radius: 0;
  border-bottom: 10px solid #596874;
  padding: 60px;
}
.row {
  white-space: pre-wrap;
  height: 80px;
}

/* Working hours & Clear all tasks buttons */
.main-btn {
  position: relative;
  border: none;
  padding: 16px 32px;
  border-radius: 5px;
  text-transform: uppercase;
  background: #26413c;
  color: #fdfffc;
}
.main-btn span {
  position: relative;
  z-index: 10;
}
.main-btn:hover:before {
  border-radius: 5px;
  width: 100%;
  transition: width 0.4s ease-in;
}
.main-btn:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #385f58;
  transition: width 0.4s ease-in;
}
/* Time block */
.time-block {
  text-align: center;
  border-top: 1px solid white;
}

/* Time block first and last elements */
.time-block:first-child {
  border-top: none;
}

.time-block:first-child .hour {
  border-radius: 15px 0 0 0;
}

.time-block:last-child .hour {
  border-radius: 0 0 0 15px;
}

.time-block:first-child .saveBtn,
.time-block:first-child .btnHover:before {
  border-radius: 0 15px 0 0;
}

.time-block:last-child .saveBtn,
.time-block:last-child .btnHover:before {
  border-radius: 0 0 15px 0;
}

/* Time block hour and description divs */
.hour {
  background-color: #7c90a0;
  color: #fdfffc;
}
.description {
  white-space: pre-wrap;
}

/* Time block colors past/current/future */
.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #27a170;
  color: white;
}

/* Time block save button classes */
.btnHover {
  position: relative;
}
.btnHover:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #385f58;
  transition: width 0.4s ease-in;
}
.saveBtn {
  background-color: #26413c;
  color: white;
  border: none;
}

i {
  position: relative;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.saveBtn:hover:before {
  transition: width 0.4s ease-in;
  width: 100%;
}
.btnHover:hover i {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}
